.player-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: stretch;
  height: var(--player-height);
  padding: var(--player-vertical-padding) 30px;
  background-color: var(--gray-bg-3);

  .station {
    height: 80px;

    .station-name {
      line-height: 80px;
    }

    img {
      height: inherit;
    }
  }

  .audio-controller {
    width: inherit;
  }
}
