$navigation-height: 80px;
$navigation-vertical-padding: 20px;
$player-height: 80px;
$player-vertical-padding: 20px;

:root {
  --navigation-height: 80px;
  --navigation-vertical-padding: 20px;
  --player-height: 80px;
  --player-vertical-padding: 20px;
}
